_site
.sass-cache
.jekyll-cache
Gemfile
Gemfile.lock
type-on-strap.gemspec
*.gem
.idea
vendor/*
LICENSE
README.md
screenshot.png
assets/package.json
assets/node_modules
assets/gulpfile.js
_examples
_posts/.DS_Store
.DS_Store
.DS_Store
